%ul
  - @facebook_user.posts.each do |post|
    %li
      = link_to post.title, "http://www.facebook.com/#{@facebook_user.username}/posts/#{post.fb_id}"
      = "#{pluralize(post.comment_count,'comment')}"